<%= link_to "Home", root_path%>
<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @program.city %>
</p>

<p>
  <strong>Length:</strong>
  <%= @program.length %>
</p>

<p>
  <strong>Price:</strong>
  <%= @program.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @program.transportation %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
 <%= link_to "Write a Review", new_program_review_path(@program) %> </br>

<h3>Comments</h3>
  <ul>
    <% @program.reviews.each do |r|%>
      <li><%= r.comment%></li>
      <li><%= r.rating%></li> </br>
    <%end%>
  </ul>