<h1>WELCOME</h1>

<% if guide_signed_in? %>
	<p>Hi guide</p>
	<%= link_to "New program", new_program_path%>
	<%= link_to "sign out",  destroy_guide_session_path, method: :delete%>
<%else%>
	<p><%=link_to "Become a guide", new_guide_registration_path%></p>
	<%= link_to "Sign in guide", new_guide_session_path%>
<%end%>

<% if visitor_signed_in? %>
	<p>Hi traveller</p>
	<%# link_to "New program", new_program_path%>
	<%= link_to "sign out",  destroy_visitor_session_path, method: :delete%>
<%else%>
	<p><%=link_to "Start travelling local", new_visitor_registration_path%></p>
	<%= link_to "Sign in traveller", new_visitor_session_path%>
<%end%>

<h1>liste of programs</h1>

<ul>
<%@programs.each do |p|%>
	<li><%=link_to p.name, p%></li>
<%end%>
</ul>

<h1>liste of Guides</h1>

<ul>
<%@guides.each do |g|%>
	<li><%=link_to g.email, "profile/#{g.id}"%></li>
<%end%>
</ul>