<!DOCTYPE html>
<html>
<head>
  <title>CoolTour</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%# console %>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<%=link_to root_path, class: "navbar-brand page-scroll" do%>
				<i class="fa fa-play-circle"></i> <span class="light">Cool</span> Tour
			<%end%>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
			<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>

				<li>
					<a class="page-scroll" data-target=".bs-example-modal-lg" data-toggle="modal" style="cursor: pointer;">How ?</a>
				</li>

			<% if guide_signed_in? %>
				<li>
					<%= link_to "New program", new_program_path%>
				</li>
				<li>
					<%= link_to "sign out",  destroy_guide_session_path, method: :delete%>
				</li>
			<%else%>
				<li>
					<%=link_to "Become a guide", new_guide_registration_path%>
				</li>
				<li>
					<%= link_to "Sign in guide", new_guide_session_path%>
				</li>
			<%end%>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<%= yield%>

<footer>
	<div class="wide_wrapper">
		<div id="logo">
			<div class="pad-left-footer"><i class="fa fa-copyright"></i></div>
			<div class="pad-left-footer">CoolTour</div>
			<div class="pad-left-footer"><%= Time.now.year %></div>
		</div>
		<nav class="navigation">
			<a href="#" data-toggle="tooltip" data-placement="top" title="FAQ" target="_blank"><i class="fa fa-question fa-2x"></i></a>
			<a onclick="myFace()" data-toggle="tooltip" data-placement="top" title="Be friendly !" target="_blank"><i class="fa fa-facebook-square fa-2x click"></i></a>
			<a href="https://monolok.github.io/online" data-toggle="tooltip" data-placement="top" title="Hire me !" target="_blank"><i class="fa fa-github fa-2x"></i></a>
			<a href="#" data-toggle="tooltip" data-placement="top" title="Donate BTC !" target="_blank"><i class="fa fa-btc fa-2x"></i></a>
			<a href="mailto:antoinebe35@gmail.com" data-toggle="tooltip" data-placement="top" title="Say hi !"><i class="fa fa-paper-plane fa-2x"></i></a>
		</nav>
	</div>
</footer>
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
</body>
</html>
